.piece {
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: opacity(0%); //Stupid chrome
    padding-bottom: 100%;
}
  
.piece:after {
    padding-bottom: 100%;
}

.piece.dragging {
    opacity: 50%;
}