.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
}

.square {
  float: left;
  height: 45px;
  width: 45px;
  display: grid;
  background-color:rgb(185, 161, 110);
}

.board-row{
  overflow-x: auto;
  overflow-y: hidden;
  height:45px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.editor-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row:nth-child(odd) .square:nth-child(2n + 1),
.editor-row:nth-child(odd) .square:nth-child(2n + 1),
.powerup-editor-row:nth-child(odd) .square:nth-child(2n + 1) {
  background-color:rgb(255, 240, 197);
}

.board-row:nth-child(even) .square:nth-child(2n),
.editor-row:nth-child(even) .square:nth-child(2n),
.powerup-editor-row:nth-child(even) .square:nth-child(2n) {
  background-color:rgb(255, 240, 197);
}

.editor {
  padding: 5rem 0rem;
}

.piece {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  top: -50%;
  left: -50%;
}

.unselectable, .piece, .square{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}