body {
  margin: 0;
  background-color: rgb(34, 34, 34);
}

#root{
  height: 100%;
  width: 100%;
}

:root {
  --square-height: 100%;
  --row-height:12.5%;
  --light-square-color: rgb(255, 240, 197);
  --dark-square-color: rgb(185, 161, 110);
  --light-highlighted-available-color: rgb(234, 158, 134);
  --dark-highlighted-available-color: rgb(204, 125, 89);
  --light-highlighted-last-move-color: rgb(253, 234, 148);
  --dark-highlighted-last-move-color: rgb(184, 157, 83);
  --light-ruler-color: rgb(104, 104, 95);
  --dark-ruler-color: rgb(68, 66, 60);
  --board-size: 60%;
  --light-text-color: rgb(200, 200, 200);
  --dark-background-color: rgb(42, 42, 42);
  --button-hover-color: rgb(110, 110, 110);
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

h1, h2, h3, h4 {
  font-family: Roboto, sans-serfic;
}

h2 {
  font-size: 170%;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  flex-grow:1;
  margin: 0em 0.2em;
  border-radius: 0em;
  border: transparent;
  text-align: center;
  color: var(--light-text-color)
}

.btn:hover{
  background-color:var(--button-hover-color);
}

