body {
  margin: 0;
  background-color: rgb(34, 34, 34);
}

#root{
  height: 100%;
  width: 100%;
}

:root {
  --square-height: 100%;
  --row-height:12.5%;
  --light-square-color: rgb(255, 240, 197);
  --dark-square-color: rgb(185, 161, 110);
  --light-highlighted-available-color: rgb(234, 158, 134);
  --dark-highlighted-available-color: rgb(204, 125, 89);
  --light-highlighted-last-move-color: rgb(253, 234, 148);
  --dark-highlighted-last-move-color: rgb(184, 157, 83);
  --light-ruler-color: rgb(104, 104, 95);
  --dark-ruler-color: rgb(68, 66, 60);
  --board-size: 60%;
  --light-text-color: rgb(200, 200, 200);
}